.imagen
{
position: relative;
top: 10px;
width: 250px;
border-radius: 100px; 
transition: 1s;
}

.imagen:hover
{
padding: 10px;
transition: 1s;
}

#buscar
{
position: relative; 
top: -40%;
color: red;
left: 60%;
width: 400px;
height: 20px;
}


.iconsDiv
{
height: 250px;
}

#iconos
{
position: relative;
border-radius: 10px;
left: 400px; 
margin: 10px;
transition: 0.5s;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#heart
{
position: relative;
left: 71%;
top: 16%;
-webkit-text-stroke: 4px red;
}


#iconos:hover
{
padding: 10px;
background-color: green;
transition: 0.5s;
}



.slider{

  position: relative;
  top: 50px;
  left: 330px;
  width: 60%;
  height: 800px;
  overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 5s infinite alternate linear;
    width:400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%; 
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}
}


#products
{
position: relative;
left: 5%;
display: inline-flex;
height:100%; 

grid-gap: 4%;
}

#foto
{
width: 300px;
transition: 1s;
}

#foto:hover, #imaPro
{
padding: 18px;
transition: 1s;
}



.sliders {
    width: 90vw;
    height: auto;
    margin: 60px;
    overflow: hidden;
}

.sliders .slide_track {
    display: flex;
    animation: scroll 7s linear infinite;
    -webkit-animation: scroll 7s linear infinite;
    width: calc(200px * 14);
}

.sliders .slide {
    width: 200px;
}

.sliders .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.marcas
{
border-color: red;
border-radius: 20px;

}

#PquienesSomos
{
background-color: red;

}

#ImasDiv img{
width: 500px;
border-radius: 100px;
transition: 1s;
box-shadow: 0 0 88px 1px #4169b0;
}

#ImasDiv{
position: relative;
top: 5%;
left: 2%;
width: 500px;

}

#ImasDiv img:hover { 
padding: 10px;
transition: 1s;
}


#Texto
{
position: absolute;
bottom: 0;
top: 65%; 
left: 40%;

width: 50%;
height: 45%;
color: wheat;

}

#tituloSomos
{
position: relative;
left: 35%;
top:5%;
color:white;
font-family: fantasy;
}




#PproductDiv
{
display: inline-flex;
}








